<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskManager.Properties.Settings>
            <setting name="storagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPaused" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showOutstanding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="orderByCreationDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="creationDateOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="orderByExecutionDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="executionDateOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="orderByPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="priorityOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="orderByEstimatedDuration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="estimatedDurationOrder" serializeAs="String">
                <value>0</value>
            </setting>
        </TaskManager.Properties.Settings>
    </userSettings>
</configuration>